/*body {
	background: peru;
}*/


/*selector universal*/
* { 													
	border: 1px solid red;
	margin: 10px;
}


/*selector de etiqueta*/
header {
	background: blue;
}

section {
	background: purple;
}

/*selector descendente*/

h3 {
	color: green;
}

article h3 {
	color: white;
}

/*selectores de clase*/

.title-a {
	background: yellow;
}

.title-b {
	background: salmon;
}