/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Allerta', sans-serif;*/
* {
	/*/*width: ;
	height: ;
	
	padding: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 13px;*/

	/*padding: 10px 13px 5px 15px;*/
	padding-top: 10px;
	border: 2px solid red;
	margin: 10px;
}

body {
	font-family: 'Allerta', sans-serif;
}

.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
}

.title-a {
	font-size: 24px;
}

.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px
}
.title-b {
	font-size: 50px;
}
.portada {
	background-image: url('../images/background.png');
	color: white;
}
.guitarras {
	color: #1f313C;
}
.menu {
	font-size: 24px;
	display: inline-block;
}
.menu li {
	display: inline-block;	
}
.logotipo {
	display: inline-block;
}