/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Allerta', sans-serif;*/
body {
	font-family: 'Allerta', sans-serif;
}

.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
}

.title-a {
	font-size: 24px;
}

.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px
}
.title-b {
	font-size: 50px;
}
.portada {
	background-image: url('../images/background.png');
	color: white;
}
.guitarras {
	color: #1f313C;
}
.menu {
	font-size: 24px;
	display: inline-block;
}
.menu li {
	display: inline-block;	
}
.logotipo {
	display: inline-block;
}